<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>firstName</key>
		<string>Gregor</string>
		<key>lastName</key>
		<string>Clegane</string>
		<key>email</key>
		<string>zombieclegane69@got.com</string>
		<key>age</key>
		<string>38</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Sandor</string>
		<key>lastName</key>
		<string>Clegane</string>
		<key>email</key>
		<string>scorchedclegane666@gmail.com</string>
		<key>age</key>
		<string>32</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Hoster</string>
		<key>lastName</key>
		<string>Tully</string>
		<key>email</key>
		<string>hostertully@got.com</string>
		<key>age</key>
		<string>80</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Yash</string>
		<key>lastName</key>
		<string>Singh</string>
		<key>email</key>
		<string>yashsingh6695@gmail.com</string>
		<key>age</key>
		<string>23</string>
	</dict>
</array>
</plist>
